body{
    padding: 0%;
    margin: 0%;
}
.header{
    background-color: rgb(39, 39, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    position: fixed;
    width: 95%;
}

.menu{
    display: flex;
    gap: 20px;
    margin-right: 60px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.hero{
    height: 100vh;
    background: linear-gradient(to right,rgb(0, 251, 255), rgb(0, 62, 67));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.hero h2{
    font-size: 40px;
    margin-bottom: 0px;
}

.hero p{
    font-size: 20px;
    margin-top: 10px;
}
.hero button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(234, 255, 0);
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.aboutme{
    padding: 30px;
}
.skill-container{
    display: flex;
    gap: 20px;
    padding: 30px;

}
.skill-container div{
    background-color: rgb(238, 237, 237);
    padding: 20px;
    flex: 1;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}
.project-container{
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center ;
}
.project-container div{
    background-color: rgb(238, 237, 237);
    padding: 20px;
    flex: 1;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

.contact{
    background-color: rgb(238, 237, 237);
    padding: 30px;
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin: auto;
    width: 450px;
}
.contact form input, .contact form textarea{
    height: 30px;
    border: 1px solid black;
    padding: 10px;
}
.contact form textarea{
    height: 70px;
}
.contact form button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(6, 6, 109);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.footer{
    background-color: rgb(9, 9, 125);
    color: white;
    text-align: center;
    padding: 20px;  
}

@media screen and (min-width:0px) and (max-width:320px) {
    .menu{
        display: none;
    }
    .header{
        justify-content: center;
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
    .hero h2{
        font-size: 30px;
    }
    .hero p{
        font-size: 16px;
    }
    .skill-container{
        flex-direction: column;
    }
    .project-container{
        flex-direction: column;
    }
    .contact form{
        width: 100%;
    }
}